<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Preço</th>
      <th scope="col">Alterar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let idx = index">
      <th scope="row">{{product.name}}</th>
      <td>{{product.price}}</td>
      <td><button class="btn btn-secondary" (click)="openDialog(product)">Alterar</button></td>
      <td><button class="btn btn-danger" (click)="removerProduct(idx)">Excluir</button></td>
    </tr>    
  </tbody>
</table>