<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Idade</th>
      <th scope="col">Sexo</th>
      <th scope="col">Alterar</th>
      <th scope="col">Excluir</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let client of clientes; let idx = index">
      <th scope="row">{{client.nome}}</th>
      <td>{{client.idade}}</td>
      <td>{{client.sexo}}</td>
      <td><button class="btn btn-secondary" (click)="openDialog(client)">Alterar</button></td>
      <td><button class="btn btn-danger" (click)="removerClientes(idx)">Excluir</button></td>
    </tr>    
  </tbody>
</table>